name: Lint Go Code

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-go@v5
      with:
        go-version: '1.24'
    
    - uses: golangci/golangci-lint-action@v6 
      with:
        version: latest

  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: 
          go-version: '1.24'
      - run: go test ./... -v -race
  deploy:
    runs-on: self-hosted 
    needs: [lint, test]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Stop services
      run: docker compose down
      
    - name: Build & Start
      run: docker compose up -d --build
      
    - name: Health check
      run: |
        sleep 10
        curl -f http://localhost:8080/health || exit 1